@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;1,700;1,900&display=swap');
/*standard reset page*/
*,*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: .2px;
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}
:focus {
  outline: none;
}
::selection {
  background-color: black;
  color: white;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  font-size: 10px;
  perspective: 978.111px;
  perspective-origin: 50% -100px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--body-bg);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(239 206 88);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #f76c64;
}
/*standard reset page*/
/*start media query*/
.container {
  margin: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 550px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 730px
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1150px
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1330px
  }
}
@media (max-height: 450px) {
  body {
    height: 220vh;
  }
}
/*End media query*/